@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Pretendard, Helvetica, sans-serif;
}
/* start todos */
.green {
  @apply bg-green-50 border-green-200;
}

.green:hover {
  @apply bg-green-100;
}

.green>svg {
  @apply text-green-300;
}

.green section {
  @apply bg-green-50 text-green-300 border-green-300;
}

.yellow {
  @apply bg-yellow-50 border-yellow-200;
}

.yellow:hover {
  @apply bg-yellow-100;
}

.yellow>svg {
  @apply text-yellow-300;
}

.stone {
  @apply bg-stone-50 border-stone-200;
}

.stone:hover {
  @apply bg-stone-100;
}

.stone svg {
  @apply text-stone-300/0;
}

.stone svg:hover {
  @apply text-stone-300;
}
/* end todos */
