@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #fafafa;
  --foreground: #171717;
}

@theme {
  --button-background: oklch(97% 0 0);
  --button-shadow: oklch(70.8% 0 0);
  --button-shadow: oklch(72.3% 0.219 149.579)
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-orbitron: Orbitron, sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Pretendard, Helvetica, sans-serif;
}

h1 span {
  font-family: var(--font-orbitron);
  animation: variable-loop 3s ease-in-out forwards;
  text-align: center;
}
@keyframes variable-loop {
  0% {
    font-weight: 300;
    color: var(--color-neutral-300);
    text-shadow:
      -1px 0 var(--color-neutral-50),
      0 1px var(--color-neutral-50),
      1px 0 var(--color-neutral-50),
      0 -1px var(--color-neutral-50);
  }
  5% {
    color: var(--color-neutral-50);
    text-shadow:
      -1px 0 var(--color-neutral-900),
      0 1px var(--color-neutral-900),
      1px 0 var(--color-neutral-900),
      0 -1px var(--color-neutral-900);
  }
  20% {
    font-weight: 900;
    color: var(--color-green-500);
    text-shadow:
      -1px 0 var(--color-neutral-50),
      0 1px var(--color-neutral-50),
      1px 0 var(--color-neutral-50),
      0 -1px var(--color-neutral-50);
  }
  80% {
    font-weight: 900;
    color: var(--color-green-500);
    text-shadow:
      -1px 0 var(--color-neutral-50),
      0 1px var(--color-neutral-50),
      1px 0 var(--color-neutral-50),
      0 -1px var(--color-neutral-50);
  }
  95% {
    color: var(--color-neutral-50);
    text-shadow:
      -1px 0 var(--color-neutral-900),
      0 1px var(--color-neutral-900),
      1px 0 var(--color-neutral-900),
      0 -1px var(--color-neutral-900);
  }
  100% {
    font-weight: 300;
    color: var(--color-neutral-300);
    text-shadow:
      -1px 0 var(--color-neutral-50),
      0 1px var(--color-neutral-50),
      1px 0 var(--color-neutral-50),
      0 -1px var(--color-neutral-50);
  }
}

h2 {
  @apply text-2xl font-bold sm:text-3xl md:my-4 md:text-5xl;
}

a,
button {
  @apply focus-visible:ring-1 focus-visible:ring-green-400 focus-visible:outline-none;
}

/* nav start */
.shadowed-button {
  box-shadow:
    -4px -4px 30px var(--color-white),
    4px 4px 30px --alpha(var(--button-shadow) / 0.4),
    inset -4px -4px 4px --alpha(var(--button-shadow) / 0.25),
    inset 4px 4px 4px var(--color-white);
  background: var(--button-background);
}

.shadowed-button:hover {
  box-shadow:
    -4px -4px 30px var(--color-white),
    4px 4px 30px --alpha(var(--button-shadow) / 0.4);
}

.shadowed-button:hover svg {
  color: --alpha(var(--color-green-400) / 0.75);
}

.shadowed-button:active {
  box-shadow:
    -4px -4px 4px --alpha(var(--color-white) / 0.7),
    4px 4px 4px --alpha(var(--button-shadow) / 0.2);
}

.shadowed-button:active svg {
  color: var(--color-green-400);
}
.shadowed-button.clicked {
  box-shadow:
    -4px -4px 4px --alpha(var(--color-white) / 0.7),
    4px 4px 4px --alpha(var(--button-shadow) / 0.2);
}

.shadowed-button.clicked svg {
  color: var(--color-green-500);
}
/* nav end */

/* responsive visibility utilities start */

.pc-only {
  display: none;
}

.mobile-only {
  display: inline;
}

@media (min-width: 1024px) {
  .pc-only {
    display: inline;
  }

  .mobile-only {
    display: none;
  }
}
/* responsive visibility utilities end */
